<!doctype html>
<html lang="en">
  <%- include('partials/head') %> 
  <body class="vertical  light  ">
    <div class="wrapper">
      <%- include('partials/navbar') %> 
     <%- include('partials/sidebar') %> 

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="col-12">
                <div class="row align-items-center my-4">
                  <div class="col">
                    <h2 class="h3 mb-0 page-title">Especialidades</h2>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn mb-2 btn-outline-secondary" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo">+ Especialidades</button>
                  </div>
                </div>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="modal fade" id="varyModal" tabindex="-1" role="dialog" aria-labelledby="varyModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="varyModalLabel">Especialidade</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form method="post" action="/especialidades">
                                <div class="form-group">
                                  <label for="recipient-name" class="col-form-label">Especialidade*</label>
                                  <input id="userName" name="especialidade" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="col-form-label">Descrição*:</label>
                                <textarea name="descricao" id="" cols="30" rows="10" class="form-control required" ></textarea>
                                </div>
                                
                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn mb-2 btn-primary">Cadastrar Especialidade</button>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                      <!--table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th></th>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Acção</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <% especialidades.map(especialidade=>{%> 
                            <tr>
                              <td>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <label class="custom-control-label"></label>
                                </div>
                              </td>
                              <td><%= especialidade.id %> </td>
                              <td><%= especialidade.especialidade %> </td>
                           
                             
                              
                              
                              <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span class="text-muted sr-only">Action</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                
                                  <a class="dropdown-item" href="#">Editar</a>
                                  <a class="dropdown-item" href="#" onclick="confirmar( `<%= especialidade.id %>`)">Remover</a>
                                </div>
                              </td>
                            </tr>
                            <%   }) %> 
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      <%- include('partials/modal') %> 
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/Dash/js/jquery.min.js"></script>
    <script src="/Dash/js/popper.min.js"></script>
    <script src="/Dash/js/moment.min.js"></script>
    <script src="/Dash/js/bootstrap.min.js"></script>
    <script src="/Dash/js/simplebar.min.js"></script>
    <script src='/Dash/js/daterangepicker.js'></script>
    <script src='/Dash/js/jquery.stickOnScroll.js'></script>
    <script src="/Dash/js/tinycolor-min.js"></script>
    <script src="/Dash/js/config.js"></script>
    <script src='/Dash/js/jquery.dataTables.min.js'></script>
    <script src='/Dash/js/dataTables.bootstrap4.min.js'></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [5, 10, 20, -1],
          [5, 10, 20, "All"]
        ]
      });
    </script>
     <script src="/sweetalert/sweetalert2.all.min.js"></script>
     <% if(certo.length >0) {%>
         <script>
     var Toast = Swal.mixin({
   toast: true,
   position: 'top-end',
   showConfirmButton: false,
   timer: 3000,
   timerProgressBar: true,
   didOpen: (toast) => {
     toast.addEventListener('mouseenter', Swal.stopTimer)
     toast.addEventListener('mouseleave', Swal.resumeTimer)
   }
 })
 Toast.fire({
   icon: 'success',
   title: '<%=certo %>'
 })
         </script>
        <% }%>
    <script src="/Dash/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <script>
      function confirmar(id){
        
    Swal.fire({
      title: 'Queres Deletar ?',
    icon:'warning',
      showCancelButton: true,
      confirmButtonColor:'#3085d6',
      cancelButtonColor:'#d33',
      confirmButtonText: 'Confirmar',
    
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below   */
      if (result.isConfirmed) {
    
       window.location = '/especialidades/'+id;
      } else if (result.isDenied) {
        Swal.fire('Erro ao eliminar', '', 'info')
      }
    })
      }
      </script>
  </body>
</html>