<!doctype html>
<html lang="en">
  <%- include('partials/head') %> 
  <body class="vertical  light  ">
    <div class="wrapper">
      <%- include('partials/navbar') %> 
     <%- include('partials/sidebar') %> 

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="h3 mb-0 page-title">Add Especialista</h2>
                </div>
                
              </div>
              <form method="post" action="/novoApolice">
                <hr class="my-4">
                <h5 class="mb-2 mt-4">Dados Pessoal</h5>
                <p class="mb-4"></p>
                
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="userName">Matricula *</label>
                    <input   type="text" class="form-control required" disabled value="<%= matricula %> ">
                    <input  name="matricula" type="hidden" class="form-control required" value="<%= matricula %> ">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="password">Plano Desejado *</label>
                          <select class="form-control selectric" name="plano_desejado" required>
                                
                               
                            <option value="mensal">Mensal</option>
                            <option value="trimestral">Trimestral</option>
                            <option value="simestral">Simestral</option>
                            <option value="anual">Anual</option>
                             
                            
                           
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="confirm">Tipo de Seguro *</label>
                    <select class="form-control selectric" name="tipo_seguro" required>
                          
                         
                      <option value="1">Contra Terceiro</option>
                      <option value="2">Contra Todos os Riscos</option>
                      
                       
                      
                     
                  </select>
                </div>
                
                <hr class="my-4">
    
                <hr class="my-4">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customPass" checked required>
                      <label class="custom-control-label" for="customPass">Estado tudo certo!</label>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Cadastrar </button>
                  </div>
                </div>
              </form>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
   
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/Dash/js/jquery.min.js"></script>
    <script src="/Dash/js/popper.min.js"></script>
    <script src="/Dash/js/moment.min.js"></script>
    <script src="/Dash/js/bootstrap.min.js"></script>
    <script src="/Dash/js/simplebar.min.js"></script>
    <script src='/Dash/js/daterangepicker.js'></script>
    <script src='/Dash/js/jquery.stickOnScroll.js'></script>
    <script src="/Dash/js/tinycolor-min.js"></script>
    <script src="/Dash/js/config.js"></script>
    <script src='/Dash/js/jquery.dataTables.min.js'></script>
    <script src='/Dash/js/dataTables.bootstrap4.min.js'></script>
    <script src="/sweetalert/sweetalert2.all.min.js"></script>
   
    <script src="/Dash/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
  
  </body>
</html>