<!doctype html>
<html lang="en">
  <%- include('partials/head') %> 
  <body class="vertical  light  ">
    <div class="wrapper">
      <%- include('partials/navbar') %> 
     <%- include('partials/sidebar') %> 

      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="h3 mb-0 page-title">Add Projecto</h2>
                </div>
                
              </div>
              <form method="post" action="/novosprojectos">
                <hr class="my-4">
                <h5 class="mb-2 mt-4">Dados Pessoal</h5>
                <p class="mb-4"></p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">Nome*</label>
                    <input type="text" id="firstname" name="nome" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">username*</label>
                    <input type="text" id="lastname" name="user_name" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="inputEmail4">Participante*</label>
                    <input type="email" class="form-control" name="participantes" id="inputEmail4">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPhone">image</label>
                    <input type="file" class="form-control" name="image" id="inputPhone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="custom-placeholder">LinkUrl*</label>
                    <input class="form-control input-placeholder" id="custom-placeholder" type="text" name="linkurl">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="custom-placeholder"> Valor Investir*</label>
                    <input class="form-control input-placeholder" id="custom-placeholder" type="number" name="valorInvestir">
                  </div>
                 
                </div>
                <hr class="my-4">
                <h5 class="mb-2 mt-4"></h5>
                <p class="mb-4">Descreve o seu projecto.</p>
                
                <div class="form-group">
                  <label for="inputAddress5">Descrição*</label>

                  <textarea class="form-control" id="inputAddress5" name="descricao"></textarea>
                  
                </div>
               
                <hr class="my-4">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customPass" checked required>
                      <label class="custom-control-label" for="customPass">Estado tudo certo!</label>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">Cadastrar </button>
                  </div>
                </div>
              </form>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      <%- include('partials/modal') %> 
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="/Dash/js/jquery.min.js"></script>
    <script src="/Dash/js/popper.min.js"></script>
    <script src="/Dash/js/moment.min.js"></script>
    <script src="/Dash/js/bootstrap.min.js"></script>
    <script src="/Dash/js/simplebar.min.js"></script>
    <script src='/Dash/js/daterangepicker.js'></script>
    <script src='/Dash/js/jquery.stickOnScroll.js'></script>
    <script src="/Dash/js/tinycolor-min.js"></script>
    <script src="/Dash/js/config.js"></script>
    <script src='/Dash/js/jquery.dataTables.min.js'></script>
    <script src='/Dash/js/dataTables.bootstrap4.min.js'></script>
    <script src="/sweetalert/sweetalert2.all.min.js"></script>
    <% if(errado.length >0) {%>
        <script>
    var Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})
Toast.fire({
  icon: 'error',
  title: '<%=errado %>'
})
        </script>
       <% }%>
    <script src="/Dash/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>