<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saqcapital</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="/webSite/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/webSite/css/animate.css">
    
    <link rel="stylesheet" href="/webSite/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/webSite/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/webSite/css/magnific-popup.css">

    <link rel="stylesheet" href="/webSite/css/aos.css">

    <link rel="stylesheet" href="/webSite/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/webSite/css/flaticon.css">
    <link rel="stylesheet" href="/webSite/css/icomoon.css">
    <link rel="stylesheet" href="/webSite/css/style.css">
  </head>
  <body>
	  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/"><span>SaqCapital.</span></a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="home"><span>Home</span></a></li>
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="about"><span>Sobre</span></a></li>
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="projects"><span>Empresas</span></a></li>
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="team"><span>Investidores</span></a></li>
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="blog"><span>Projectos</span></a></li>
	          <li class="nav-item"><a href="#" class="nav-link" data-nav-section="contact"><span>Contacto</span></a></li>
	          <li class="nav-item cta"><a href="#" onclick="window.location='/login'" class="nav-link"> <span class="icon-user-circle"></span> Conta</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav>
    
    <section class="hero-wrap js-fullheight" style="background-image: url('/website/images/bg_1.jpg');" data-section="home">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-8 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
          	<p class="d-flex align-items-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
							<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
    						<span class="ion-ios-play play mr-2"></span>
    						<span class="watch">Assistir Video</span>
    					</a>
						</p>
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Plataforma que ajudará o seu negócio ou a sua empresa crescer!</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-services ftco-no-pt">
      <div class="container">
        <div class="row services-section">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-layers"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Fazer Investimento</h3>
                <p>O SaqCapital Permite fazer investimentos em projectos e negocios,que podem te render muitos lucros e multiplicares o teu dinheiro.</p>
                
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-compass-symbol"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Fazer Transações</h3>
                <p>O SaqCapital esta integrado com um gatawayde pagamantos seguro o Kempaga ,que permite fazer transações bancárias e levantamento de dinheiro</p>
                
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-layers"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Pedir Emprestimo</h3>
                <p>Assim como se pode investir ,pode-se pedir dinheiro emprestado para levantar o seu negócioou realizares aquele sonho.</p>
                
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="section-counter" data-section="about">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-4 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/website/images/about.jpg);">
    					<div class="request-quote py-5">
	    					<div class="py-2">
	    						<span class="subheading"></span>
	    						<h3>Saqcapital</h3>
	    					</div>
	    					<form action="#" class="request-form ftco-animate">
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group">
			    					<input type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    					<div class="form-group">
			    					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon-arr"><span class="ion-ios-arrow-down"></span></div>
	                      <select name="" id="" class="form-control">
	                      	<option value="">Select Your Services</option>
	                        <option value="">Construction</option>
	                        <option value="">Renovation</option>
	                        <option value="">Interior Design</option>
	                        <option value="">Exterior Design</option>
	                        <option value="">Painting</option>
	                      </select>
	                    </div>
			              </div>
			    				</div>
		    					<div class="form-group">
			    					<input type="text" class="form-control" placeholder="Phone">
			    				</div>
		    					<div class="form-group">
			              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
			            </div>
			            <div class="form-group">
			              <input type="submit" value="Submeter info." class="btn btn-primary py-3 px-4">
			            </div>
			    			</form>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-8 pl-lg-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">Bem Vindo!</span>
		            <h2 class="mb-4">O que é a SaqCapital </h2>
		            <p>Saqcapital é uma plataforma de investimentos confiavel e seguro, desenvolvido pela empresa ZonaLink(SU)lda,que tem como objectivo ajudar as pessoas a abriremo seu negocio,ate mesmoempresas.</p>
		            <p>Para mais informações cadastra-se ou  entre em contacto conosco pelo correio ao lado.</p>
		         </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center p-4 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="<%= empresa.length %> ">0</strong>
		                <span>Empresas</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="<%= investidores.length%> ">0</strong>
		                <span>Investidores</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="<%= projectos.length%> ">0</strong>
		                <span>Projectos</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate d-flex">
		            <div class="block-18 text-center py-4 px-3 mb-4 align-self-stretch d-flex">
		              <div class="text">
		                <strong class="number" data-number="<%= usuarios %>  ">0</strong>
		                <span>Usuários</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>


    <section class="ftco-section ftco-project bg-light" data-section="projects">
    	<div class="container-fluid px-md-5">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Rede de Empresas</span>
            <h2 class="mb-4">Nossas Empresas</h2>
            <p>Queres fazer parte das nossas empresas a fim de receber financiamento de investidores ?  <a href="/contaempresa">Vamos la <span class="ion-ios-arrow-round-forward"></span></a> </p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 testimonial">
            <div class="carousel-project owl-carousel">
				<% empresa.forEach(empresa=>{%>
					<div class="item">
						<div class="project">
									<div class="img">
										<img src="http://localhost:1004/upload/<%= empresa.image %>" class="img-fluid" alt="..." style="   height:400px; width: 500px;">
										<a href="/upload/<%= empresa.image %>" class="icon image-popup d-flex justify-content-center align-items-center">
											<span class="icon-expand"></span>
										</a>
									</div>
									<div class="text px-4">
										<h3><a href="#"> <%= empresa.nome %> </a></h3>
										<span class="icon-paper-plane"><%= empresa.email %></span><br>
										<span class="icon-phone2"><%= empresa.tell %></span> <br>
										<span class="icon-globe"><%= empresa.website %></span>
										
									</div>
								</div>
					</div>
					<% }) %> 
            	
     
            </div>
          </div>
    		</div>
    	</div>
    </section>

  


    <section class="testimony-section" data-section="team">
		<div class="container-fluid p-0">
    		<div class="row no-gutters justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Investidores</h2>
            <p>És um investidor e deseja investir em negocio/empresa a fim de gerar lucros posteriores ?  <a href="/containvestidor"><span class="ion-ios-arrow-round-forward"></span></a></p>
          </div>
        </div>
       
    	</div>
      <div class="container">
        <div class="row ftco-animate justify-content-center">
        	<div class="col-md-12 d-flex align-items-center">
        		<div class="carousel-testimony owl-carousel">
					<% investidores.map(investidores =>{ %> 
					<div class="item">
	        			<div class="testimony-wrap d-flex align-items-stretch">
		              <div class="user-img d-flex align-self-stretch" style="  width: 300px;height: 300px; background-image: url('http://localhost:1004/upload/<%= investidores.image %>')">
		              </div>
		              <div class="text d-flex align-items-center">
		              	<div>
			              	<div class="icon-quote">
			              		<span class="icon-quote-left"></span>
			              	</div>
			                <p class="mb-4"><%= investidores.biografia %> .</p>
			                <p class="name"> <%= investidores.nome %> </p>
			                <span class="position">CEO, Founder</span>
		                </div>
		              </div>
		            </div>
	        		</div>
	        			
					<% }) %> 
	        		
	        	</div>
        	</div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light" data-section="blog">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Projecto Empresarial</span>
            <h2 class="mb-4">Projectos Em Destaque</h2>
            <p>Os projectos em questão ,são os projectos Empresarial ( de grande escala). Para os projectos pessoal Acede a sua conta  <a href="/login"><span class="ion-ios-arrow-round-forward"></span></a> </p>
          </div>
        </div>
        <div class="row d-flex">
			<% projectos.slice(0, 6).map(projecto=>{%> 
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
					<a href="/projecto1/<%= projecto.idProjecto %> " class="block-20" style="background-image: url('http://localhost:1004/upload/<%= projecto.image_projecto %>');">
					</a>
					<div class="text mt-3 float-right d-block">
						<div class="d-flex align-items-center pt-2 mb-4 topp">
							
							<div class="two">
								<span class="yr">2019</span>
								<span class="mos">March</span>
							</div>
						</div>
					  <h3 class="heading"><a href="/projecto1/<%= projecto.idProjecto %> "><%= projecto.nome_projecto %></a></h3>
					  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
					  <div class="d-flex align-items-center mt-4 meta">
						  <p class="mb-0"><a href="/projecto1/<%= projecto.idProjecto %> " class="btn btn-primary">Ler Mais <span class="ion-ios-arrow-round-forward"></span></a></p>
						 
					  </div>
					</div>
				  </div>
				</div>

				<%	}) %> 
         
        
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section ftco-no-pb" data-section="contact">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contacto</span>
            <h2 class="mb-4">Contate-nos</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex contact-info">
          <div class="col-md-6 col-lg-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-4">Address</h3>
	            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-globe"></span>
          		</div>
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">yoursite.com</a></p>
	          </div>
          </div>
        </div>
      </div>
    </section>
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">SqCapital</h2>
              <p>Conosco, o seu negocio ou empresa terá um novo rumo.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Sobre</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Empresa</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Investidores</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Projectos</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contactos</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Serviços</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Investimentos</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Transações</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Emprestimos</a></li>
              
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Tem uma questão?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script>SaqCapital| Todos direitos reservado <i class="icon-heart color-danger" aria-hidden="true"></i> pela <a href="#" target="_blank">@ZonaLink(SU)Lda </a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/webSite/js/jquery.min.js"></script>
  <script src="/webSite/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/webSite/js/popper.min.js"></script>
  <script src="/webSite/js/bootstrap.min.js"></script>
  <script src="/webSite/js/jquery.easing.1.3.js"></script>
  <script src="/webSite/js/jquery.waypoints.min.js"></script>
  <script src="/webSite/js/jquery.stellar.min.js"></script>
  <script src="/webSite/js/owl.carousel.min.js"></script>
  <script src="/webSite/js/jquery.magnific-popup.min.js"></script>
  <script src="/webSite/js/aos.js"></script>
  <script src="/webSite/js/jquery.animateNumber.min.js"></script>
  <script src="/webSite/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/webSite/js/google-map.js"></script>
  <script src="/webSite/js/main.js"></script>

  <script src="/sweetalert/sweetalert2.all.min.js"></script>
  <% if(errado.length >0) {%>
	  <script>
  var Toast = Swal.mixin({
toast: true,
position: 'top-end',
showConfirmButton: false,
timer: 3000,
timerProgressBar: true,
didOpen: (toast) => {
  toast.addEventListener('mouseenter', Swal.stopTimer)
  toast.addEventListener('mouseleave', Swal.resumeTimer)
}
})
Toast.fire({
icon: 'error',
title: '<%=errado %>'
})
	  </script>
	 
	  <% }else if(certo.length >0) {%>
		<script>
  
const Toast = Swal.mixin({
toast: true,
position: 'top-end',
showConfirmButton: false,
timer: 3000,
timerProgressBar: true,
didOpen: (toast) => {
  toast.addEventListener('mouseenter', Swal.stopTimer)
  toast.addEventListener('mouseleave', Swal.resumeTimer)
}
})

Toast.fire({
icon: 'success',
title: 'Conta criado com sucesso'
})
		  
		</script>
		<% }%>
    
  </body>
</html>