<!doctype html>
<html lang="en">
  <%- include('partials/head') %> 
   <!--Mapa-->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
   <link rel="stylesheet" href="/script/t.css">
   <style>
    .map {
   
      width: 100%;
      height: 500px;
    }
  </style>
  <body class="vertical  light  ">
    <div class="wrapper">
      <%- include('partials/navbar') %>  
      <%- include('partials/sidebar') %> 
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <div class="card shadow mb-4">
                    <div class="card-body">
                      <div class="py-5 text-center">
                        <p class="text-muted mb-2">Nome: <%= notify.cliente.name %> </p>
                        <h2 class="mb-1"></h2>
                        <span class="small text-success">Matricula:<%= notify.matricula %></span>
                      </div>
                      <div class="row align-items-center mb-1">
                        <div class="col-auto">
                          <div class="my-2 text-center">
                            <small class="text-danger pr-2 mr-2">High</small>
                            <span class="text-warning px-2 mx-2">Medium</span>
                            <span class="text-success px-2 mx-2">Low</span>
                          </div>
                        </div>
                        <div class="col">
                          <small class="h6 mb-0 text-muted">Detalhes</small>
                        </div>
                      </div>
                      <div class="progress rounded mb-3" style="height:14px">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                      </div>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
                  <div class="card shadow mb-4">
                    <div class="card-body">
                     
                      <div class="row items-align-center">
                        <div class="col-4 text-center">
                          <p class="text-muted mb-1"><%= notify.provincia%></p>
                          <h6 class="mb-1">$1,823</h6>
                          <p class="text-muted mb-0">+12%</p>
                        </div>
                        <div class="col-4 text-center">
                          <p class="text-muted mb-1"><%= notify.municipio%></p>
                          <h6 class="mb-1">$6,830</h6>
                          <p class="text-muted mb-0">+8%</p>
                        </div>
                        <div class="col-4 text-center">
                          <p class="text-muted mb-1">Earning</p>
                          <h6 class="mb-1">$4,830</h6>
                          <p class="text-muted mb-0">+8%</p>
                        </div>
                      </div>
                    </div> <!-- .card-body -->
                  </div> <!-- .card -->
   
                </div> <!-- ./col -->
                <div class="col-md-8">
                  <div class="row">
                    
                  </div> <!-- end section -->
                  <div class="mb-4 align-items-center" style="position: relative;">
                    <div class="map-box" style="height:450px; overflow:hidden">
                      <div id="map" data-height="500"  style="min-height:450px;"></div>
                   

                    </div>
                  </div> <!-- .col-md -->
               
                </div> <!-- /. col -->
              </div> <!-- end section -->
            </div>
          </div> <!-- .row -->
        </div> 
        <input type="hidden" id="lat" value="<%= notify.lat %> ">
        <input type="hidden" id="lng" value="<%= notify.lng %> ">
        <%- include('partials/modal') %> 
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>
    <script src="/script/Corretorrotas.js"></script>
    <script src="/Dash/js/jquery.min.js"></script>
    <script src="/Dash/js/popper.min.js"></script>
    <script src="/Dash/js/moment.min.js"></script>
    <script src="/Dash/js/bootstrap.min.js"></script>
    <script src="/Dash/js/simplebar.min.js"></script>
    <script src='/Dash/js/daterangepicker.js'></script>
    <script src='/Dash/js/jquery.stickOnScroll.js'></script>
    <script src="/Dash/js/tinycolor-min.js"></script>
    <script src="/Dash/js/config.js"></script>
    <script src="/Dash/js/d3.min.js"></script>
    <script src="/Dash/js/topojson.min.js"></script>
    <script src="/Dash/js/datamaps.all.min.js"></script>
    <script src="/Dash/js/datamaps-zoomto.js"></script>
    <script src="/Dash/js/datamaps.custom.js"></script>
    <script src="/Dash/js/Chart.min.js"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="/Dash/js/gauge.min.js"></script>
    <script src="/Dash/js/jquery.sparkline.min.js"></script>
    <script src="/Dash/js/apexcharts.min.js"></script>
    <script src="/Dash/js/apexcharts.custom.js"></script>
    <script src='/Dash/js/jquery.mask.min.js'></script>
    <script src='/Dash/js/select2.min.js'></script>
    <script src='/Dash/js/jquery.steps.min.js'></script>
    <script src='/Dash/js/jquery.validate.min.js'></script>
    <script src='/Dash/js/jquery.timepicker.js'></script>
    <script src='/Dash/js/dropzone.min.js'></script>
    <script src='/Dash/js/uppy.min.js'></script>
    <script src='/Dash/js/quill.min.js'></script>
   
    <script src="/Dash/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
  </body>
</html>